* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

header {
    background-image: url(../img/header.jpg);
    padding: 40px;
    color: rgb(255, 255, 255);
    font-family: Karla, sans-serif;
    font-style: italic;
    font-size: large;
    background-size: cover;
    background-position: center;
}

.row {
    margin: 3% 7%;
}

footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-family: Karla, sans-serif;
}