* {
    margin: 0;
    padding: 0;
}

.watch {
    height: 400px;
    width: 600px;
    border: 2px solid grey;
    object-fit: cover;
}

header {
    background-image: url(../img/header.jpg);
    padding: 80px;
    color: rgb(255, 255, 255);
    font-family: Karla, sans-serif;
    font-style: italic;
    font-size: large;
    background-size: cover;
    background-position: center;
}

footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-family: Karla, sans-serif;
    margin-bottom: 20px;
    
}

.product {
    padding: 30px;
    font-family: Karla, sans-serif;
    font-weight: bolder;
    display: flex;
    
}

div p {
    margin-top: 10%;
    padding-left: 60px;
    text-align:justify;
}

body {
    background-color: beige;
}